/* You can add global styles to this file, and also import other style files */
body {
    background: radial-gradient(circle, #f5f1e8, #c79358);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4a3428;
    
}

